//colors
$whiteText:rgba(251, 251, 251,1);
$blackText:rgba(74, 75, 70, 1);
$greyText:rgba(210, 210, 210,1);
$darkGreyText:rgb(114, 114, 114);
$iconWhite:rgba(188, 184, 181,0.6);
$darkTint:rgba(15,15,15,0.5);
$lessDarkTint:rgba(70,70,70,0.5);
$facebook:#445897;
$rss:#CB8E31;
$twitter:#6A8DC7;
$youTube:#B1372D;
$navColor:rgb(180, 41, 46);
$underBorderColor:#8F9190;
$transparent:rgba(251, 251, 251,0);
//images
$bodyBG:url("bg.jpg");
//fonts
$fontMain:Arial;
